<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="default,dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    %d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %magenta([%thread]) %yellow(%logger{40}.%M\(%class{0}.java:%line\)) - %msg%throwable%n
                </pattern>
            </layout>
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>